<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Project3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E94F58E1D2C968800C4DCB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E94F5A41D2C968800C4DCB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E94F5AF1D2C968800C4DCB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
